# Node
node_modules/
dist/
dist-ssr/
*.local
.eslintcache

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.venv
env/
reports/
*.db
*.sqlite3

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
